$main-font: 'black';
$second-font: 'gray';

$redBG: #F66F67;
$redTxt: #3C3D47;

$purpleBG: #380E7F;
$purpleTxt: #F7bE17;

$greenBG: #1F6650;
$greenTxt: #DCFFCC;

$yellowBG: #FFD369;
$yellowTxt: #5B0909;

$blueBG: #1D4D4F;
$blueTxt: #6BA8A9;

$grayBG: #708090;
$grayTxt: #FC644D;

.redBG{
    color: $redTxt !important;
    transition: all 2s ease-in-out;
}
.purpleBG{
    color: $purpleTxt !important;
    transition: all 2s ease-in-out;
}
.greenBG{
    color: $greenTxt !important;
    transition: all 2s ease-in-out;
}
.yellowBG{
    color: $yellowTxt !important;
    transition: all 2s ease-in-out;
}
.blueBG{
    color: $blueTxt !important;
    transition: all 2s ease-in-out;
}
.grayBG{
    color: $grayTxt !important;
    transition: all 2s ease-in-out;
}