$main-font: 'black';
$second-font: 'gray';

$redBG1: #7a2828;
$redBG2: #870000;

$purpleBG1: #7b4397;
$purpleBG2: #dc2430;

$greenBG1: #71B280;
$greenBG2: rgb(30, 90, 107);

$yellowBG1: gold;
$yellowBG2: #ffffff;

$blueBG1: #6190e8;
$blueBG2: #a7bfe8;

$grayBG1: #434343;
$grayBG2: #000000;