@import "../../styles/colors.scss";

.globalFont {
    font-family: 'Roboto', sans-serif !important;
    transition: all 2s ease-in-out;
}

.left-place-holder {
    margin-left: 6.0em;
    @media screen and (max-width: 1024px){
        margin-left: 0.5rem;
    }    
}

.segment{
    background: transparent !important;
}
.vlist{
    padding: 0 !important;
}

.redBG{
    background-color: $redBG;
}
.purpleBG{
    background-color: $purpleBG;
}
.greenBG{
    background-color: $greenBG;
}
.yellowBG{
    background-color: $yellowBG;
}
.blueBG{
    background-color: $blueBG;
}
.grayBG{
    background-color: $grayBG;
}

body {
    overscroll-behavior: none;
}

