@import "../../styles/colors.scss";

.globalFont {
    font-family: 'Roboto', sans-serif !important;
    
}

.left-place-holder {
    margin-left: 6.0em;
}

.segment{
    background: transparent !important;
}

.backgroundd{
    background-image: linear-gradient($grayBG1, $grayBG2);
}
