.video-item.item img {
    max-width: 180px;
}

.video-item {
    text-align: left;
    &:focus {
        outline:0;
    }
    background: transparent;
}

/*helps .header and .content not wrap.also removes default top border*/
.overflow {
    white-space: nowrap !important; 
    border: none !important;
}
/*makes div fit each video item's width. else ellipsis occurs earlier*/
.fillOuterContainer {
    width: auto !important;
}

.title {
    width: 60% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 600 !important;
}

.thumbnail {
    border-radius: 5px;
}

.text {
    width: 30%;
    margin-right: 0!important;
    background: transparent;
}