@import '../../styles/colors.scss';

.rightAlign {
    text-align: right;
}


/* used to vertically center */
.logoSide {
    position: relative;
}
.inside {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 900 !important;
}

.search-txt{
    color: $redTxt !important;
}