@import '../../styles/colors.scss';

.rightAlign {
    text-align: right;
    width: 33%;
    @media screen and (max-width: 1024px){
        width: 40%;
    }
    @media screen and (max-width: 768px){
        width: 50%;
        padding-right: 2rem;
        box-sizing: border-box;
    }
    @media screen and (max-width: 620px){
        display: none;
    }
}


/* used to vertically center */
.logoSide {
    position: relative;
    width: 33%;
    @media screen and (max-width: 1024px){
        width: 30%;
    }
    @media screen and (max-width: 768px){
        display: none;
    }
    padding-left: 2rem;
    box-sizing: border-box;
}

.searchSide{
    width: 33%;
    @media screen and (max-width: 620px){
        width: 100%;
        display: none;
    }
    @media screen and (max-width: 768px){
        width: 50%;
        padding-left: 2rem;
        box-sizing: border-box;
    }
    @media screen and (max-width: 1024px){
        width: 30%;
    }
}
.inside {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 900 !important;
}

.search-txt{
    color: $redTxt !important;
}

.hidden-nav-search{
    display: none;
    @media screen and (max-width: 620px){
        display: initial;
        padding: 1rem !important;
        width: 100%;
    }
}

.main-icon{
    :hover{
       animation: 3s rainbow infinite;  
    }
}
@keyframes rainbow{
    0% { 
        color: black;
    }
    15% {
        color: $grayBG;
    }
    30% {
        color: $purpleBG;
    }
    45% {
        color: $greenBG;
    }
    60% {
        color: $yellowBG;
    }
    75% {
        color: $blueBG;
    }
    90% {
        color: $redBG
    }
    100% {
        color: black;
    }
}

