@import '../../styles/colors.scss';

/* used to vertically center */
.logoSide {
    position: relative;
    width: 40%;
    padding-left: 4rem;
    box-sizing: border-box;
}

.searchSide{
    width: 50%;
    @media screen and (max-width: 768px){
        width: 40%;
        padding-left: 2rem;
        box-sizing: border-box;
    }
}
.inside {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 900 !important;
}

.search-txt{
    color: $redTxt !important;
}

.main-icon{
    :hover{
       animation: 3s rainbow infinite;  
    }
}
.red{
    color: red;
}
.purple{
    color: purple;
}
.green{
    color: green;
}
.yellow{
    color: yellow;
}
.blue{
    color: blue;
}
.black{
    color: gray;
}

.form{
    width: 100%;
}
.icons{
    font-size: 2rem;
    margin: 1rem;
}

@keyframes rainbow{
    0% { 
        color: black;
    }
    15% {
        color: $grayBG;
    }
    30% {
        color: $purpleBG;
    }
    45% {
        color: $greenBG;
    }
    60% {
        color: $yellowBG;
    }
    75% {
        color: $blueBG;
    }
    90% {
        color: $redBG
    }
    100% {
        color: black;
    }
}

.popper{
    background-color: white;
    width: auto;
    padding: 1.1rem;
    border-radius: 5px;
    margin: 0.2rem;
}

