.videoDetail {
    border: none !important;
    margin-top: 0 !important;
    padding-left: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

/* Used to format the description section*/
.test {
    white-space: pre-line;
    text-overflow: ellipsis !important;
}

.cutLeftPadding {
    padding-left: 0 !important;
}

.spacing {
    margin-bottom: 1.0em !important;
}

.moveButton {
    text-align: right !important;
}