@media screen and (max-width: 1024px){
    .banner{
        display: none !important;
    }   
}

.ad{
    width: auto !important;
    background-color: #708090;
    border-radius: 5px;
    text-align: center;
    padding-top: 0.8rem;
    color: white;
}