.commentss {
    border: none !important;
    padding-left: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.comments {
    max-width: none !important;
}

.bottomSpacing {
    margin-bottom: 1.5em !important;
    width: 100% !important;
    
}

.text {
    white-space: pre-line !important;
    display: -webkit-box-flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 3 !important;
}

.spacing {
    margin-bottom: 0.5em;
}

.clamp-lines__button {
    background: none;
    border: none;
    font-weight: bold !important;
}

@media screen and (max-width: 75em){
    .commentss{
        display: none !important;
    }   

}